<div id="header-container">
    <img [src]="'/assets/images/logo.svg'" alt="Website Logo" id="artisanart-logo">
    <div id="search-bar">
        <img [src]="'/assets/icons/search.svg'" alt="search icon" id="search-icon" class="header-icon">
        <input type="text" name="search-products" id="search-bar-text" placeholder="Search...">
    </div>
    <div id="profile-login-sigunp">
        <button id="profile-btn" class="header-button">
            <img [src]="'/assets/icons/user.svg'" alt="profile icon" id="profile-icon">
            Profile
        </button>
        <button id="login-btn" class="header-button">Login</button>
        <button id="sign-up-btn" class="header-button">Sign-up</button>

        <!-- <img [src]="'/assets/icons/user.svg'" alt="account icon" id="account-icon" class="header-icon">
        <img [src]="'/assets/icons/shopping-cart.svg'" alt="shopping cart icon" id="shopping-cart-icon" class="header-icon"> -->
    </div>
</div>