.product-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.category {
  display: inline-block;
  border: 2px solid var(--border-color);
  padding: 4px;
  background-color: rgb(211, 175, 174);
  border-radius: 12px;
  color: var(--description-color);
}

.title {
  font-size: 26px;
  font-weight: 700;
}

.rating {
  display: flex;
  align-items: center;
  gap: 5px;
}

.rating-count {
  color: #555;
  font-size: 14px;
}

.price-container {
  display: flex;
  gap: 12px;
  align-items: center;
}

.before-offer {
  text-decoration: line-through;
  color: #777;
}

.with-offer {
  font-size: 22px;
  font-weight: bold;
  color: red;
}

.economy {
  color: #e63946;
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
  border: 2px solid var(--color-palette1);
  padding: 4px;
  background-color: rgb(225, 174, 172);
  border-radius: 12px;
}

.description-block h3 {
  margin-bottom: 5px;
}

.stock {
  font-weight: 600;
}

.quantity-container {
  margin-top: 10px;
}

.svg-star{
  width: 20px;
  height: 20px;
}

h1{
  color: var(--description-color);
}

.description-container {
  color: var(--description-color);
}

