<div class="product-info">
    <h3><span class="category"> {{categorie}} </span></h3>
    <h1> {{productName}} </h1>
    <div class="rating">
        <span *ngFor="let star of starsArray">
            <img class="svg-star" src="assets/images/F7StarFill.svg" alt="star">
        </span>
        <span class="rating-count">
            {{ rating }} ({{ reviewsCount }} avis)
        </span>
    </div>

    <div class="price-container">
        <span class="before-offer" > $ {{beforeOffer}} </span>
        <span class="with-offer" > $ {{withOffer}} </span>
        <span class="economy" > Economisez $ {{economy}} </span>
    </div>

    <div class="description-container">
        <h3> Description </h3>
        <p> {{description}} </p>
        <p class="stock"> {{stock}} articles en stock </p>
    </div>

    <div class="quantity-container">
        <app-quantity
        [quantity]="quantity"
        (quantityChange)="onQuantityChanged($event)">
        </app-quantity>

    </div>
    
    <app-shopping-cart-btn></app-shopping-cart-btn>

</div>