@if(images?.length) { <div class="photos-container" >

    <div class="main-image-container">
        <img class="main-image" [src]="selectedImage" />

        <div class="offer-container" *ngIf="offer">
            <span class="offer"> -{{ offer }}% </span>
        </div>
    </div>

    <div class="other-images">
        <img
            *ngFor="let img of images.slice(1)"
            [src]="img"
            class="others"
            (click)="changeSelected(img)"
        />
    </div>

</div>
}