.product-page {
  min-height: 100vh;
  max-width: 1200px;
  margin: 0 auto;     
  padding: 0 20px; 
}

.product-page-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
}

/* Pour éviter que l'image prenne toute la largeur */
app-product-photos {
  flex: 1.1;
}

app-product-info {
  flex: 1;
}

.product-page-bottom {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

h1, h2, h3, h4 {
  font-family: "Outfit", sans-serif;
  margin: 0;
}

