.search-results-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 0;
    align-items: center;
    justify-content: center;
}

.loading-products {
    width: 1300px;
    text-align: center;
    font-family: 'Outfit';
    font-weight: 500;
    color: var(--login-btn-text);
}