.title{
    font-family: 'Outfit';
    font-size: 16px;
    color: var(--login-btn-text);
    align-self: flex-start;
    margin: 0 0 32px;
}


#profile-edit-container{
    min-width: 700px;
    justify-self: center;
    margin: 0px;
}