.card{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.card-main {
  display: flex;
  flex-direction: row;
  background: var(--header-backgrounnd);
  border-radius: 12px;
  padding: 30px;
  width: 1200px;
  max-width: 1262px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.05);
  border: 1px solid var(--login-btn-border);
  justify-content: space-between;
  justify-self: center;
  transition: 0.2s;

}

.card-main:hover{
    background-color: #ebd2cb;
    transition: 0.2s;
    cursor: pointer;
}

.extended-card{
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom: none;
}

.info-container{
    width: 80%;
}

.top-titles{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0 0 10px;
}

.order-id{
    font-weight: 400;
    font-size: 18px;
    font-family: 'Outfit';
    color: var(--login-btn-text);
    margin: 0px;
}

.order-status{
    padding: 2px 8px;
    border-radius: 6px;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;

    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 5px;
}

.already-delivered{
    color: #12602d;
    background-color: #dafbe6;
}

.still-delivering{
    color: #700fb4;
    background-color: #f3e7fd;
}

.additional-info{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: flex-start;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    color: var(--secondary-text-color);
}

.price{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}
.price div{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: var(--secondary-text-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: right;
}

.price div p{
    margin: 0;
}

.price-text{
    font-size: 20px;
    font-family: 'Outfit';
    color:#925653;
}

.card-extension{
    background-color: var(--body-background);
    padding: 30px;
    width: 1200px;
    border: 1px solid var(--login-btn-border);
    border-bottom-left-radius: var(--general-border-radius);
    border-bottom-right-radius: var(--general-border-radius);
}

.mini-title{
    font-weight: 400;
    font-size: 14px;
    font-family: 'Outfit';
    color: var(--login-btn-text);
    margin: 0px 0px 10px;
}

.total-prices{
    background-color: #f7eae4;
    border-radius: var(--general-border-radius);
    padding: 12px;
}

.total-prices p {
    margin: 0;
}

.ttl-price-line{
    display: flex;
    justify-content: space-between;
    padding: 0 0 12px;
}

.price-label{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--login-btn-text);
    font-size: 14px;
}

.price-value{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    color: black;
}

.delivery-price{
    border-bottom: 1px solid var(--login-btn-border);
}

.big-total p{
    font-family: 'Outfit';
    padding-top: 12px;
    font-size: 18px;
}

.big-total .additional-info{
    color: var(--login-btn-text);
}

.big-total .price-value{
    color: var(--secondary-text-color);
}