<div class="card" (click)="displayAllInfo = !displayAllInfo">
    <div class="card-main" [ngClass]="{ 'unextended-card': !displayAllInfo, 'extended-card': displayAllInfo }">

        <div class="info-container">
            <div class="top-titles">
                <h3 class="order-id">Order #{{ orderDetails.order.id }}</h3>

                <span class="order-status already-delivered" *ngIf="finishedOrder">
                    ✔ delivered
                </span>

                <!-- <span class="order-status already-delivered" *ngIf="finishedOrder">
                    ✔ Pending
                </span>

                <span class="order-status already-delivered" *ngIf="finishedOrder">
                    ✔ Confirmed
                </span> -->

                <span class="order-status still-delivering" *ngIf="!finishedOrder">
                    🚚 still delivering
                </span>
            </div>

            <div class="additional-info">
                <span class="order-date">📅 {{ orderDetails.order.createdAt | date:'longDate' }}</span>
                <span class="items-number">📦 {{ orderDetails.order.items.length }} items</span>
                <span class="store-name">🏪 {{ orderDetails.craftsman.businessName }}</span>
            </div>
        </div>

        <div class="price">
            <div>
                <p>Total</p>
                <p class="price-text">$ {{ totalPrice }}</p>
            </div>

            <span>
                <svg *ngIf="!displayAllInfo" width="16" height="16">
                    <path d="m6 9 6 6 6-6" stroke="#925653"></path>
                </svg>
                <svg *ngIf="displayAllInfo" width="16" height="16">
                    <path d="m18 15-6-6-6 6" stroke="#925653"></path>
                </svg>
            </span>
        </div>
    </div>

    <div class="card-extension" *ngIf="displayAllInfo">
        <p class="mini-title">Order details</p>

        <div *ngFor="let item of orderDetails.order.items">
            <app-order-card-product [item]="item"></app-order-card-product>
        </div>

        <div class="total-prices">
            <div class="sub-total ttl-price-line">
                <p class="price-label">Sub-total</p>
                <p class="price-value">$ {{ subTotalPrice }}</p>
            </div>
            <div class="delivery-price ttl-price-line">
                <p class="price-label">Delivery fee</p>
                <p class="price-value">$ {{ orderDetails.order.deliveryPrice }}</p>
            </div>
            <div class="ttl-price-line big-total">
                <p class="price-label">Total</p>
                <p class="price-value">$ {{ totalPrice }}</p>
            </div>
        </div>
    </div>
</div>
