@if(craftsman){<div class="craftsman-container">
    <h3>A propos de l'artisan </h3>
    <div class="info-container"> 
        <div>
            <img [src]="craftsman.profileImage" class="profile-img" />
        </div>

        <div class="craftsman-details">
            <h3> {{craftsman.businessName}}</h3>
            <p> {{craftsman.specialty}} </p>
        

        <div class="location">
            {{craftsman.workshopAddress}}
        </div>

        <div class="rating">
            <span *ngFor="let star of starsArray">
                <img class="svg-star" src="assets/images/F7StarFill.svg" alt="star">
            </span>
            <span class="rating-count">
                {{ craftsman.avgRating }} ({{ craftsman.totalComments }} avis)
            </span>
        </div>

        <p class="description"> {{craftsman.bio}}</p>
        <p class="phone">Téléphone: {{craftsman.phone}}</p> 
        </div>

        <button class="store-btn"> Voir la boutique </button>

    </div>

</div>
}